<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Preguntas Frecuentes (F.A.Q.)</h3>
        <p>Esta funcionalidad aún no está implementada.</p>
      </div>
    </div> <!-- row -->
  </div>

  <% include ../../partials/footer.ejs %>
</body>

</html>