<% if(flash.error) { %>
<div class="alert alert-danger alert-dismissible text-center" role="alert">
  <p><%= flash.error %></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</div>
<% } %>

<% if(flash.success) { %>
<div class="alert alert-success alert-dismissible text-center" role="alert">
  <p><%= flash.success %></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>

<% if(flash.info) { %>
  <div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><%= flash.info %></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </div>
  <% } %>