<!-- app title -->
<title>Gestión de Micros - Linea 130 - Santa Cruz</title>


<!-- browser-related -->
<meta charset="UTF-8">
<meta lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- /browser-related -->


<!-- seo -->
<meta name="application-name" content="Gestión Linea 130">
<meta name="description" content="Aplicación web y móvil destinada a la gestión de la línea de micros 130 de la ciudad de Santa Cruz">
<meta name="keywords" content="micros, buses, paradas, rutas, linea 130, línea 130">
<!-- /seo -->


<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<!-- /bootstrap -->


<!-- open iconic -->
<link href="/css/open-iconic-bootstrap.css" rel="stylesheet">


<!-- main CSS -->
<link rel="stylesheet" type="text/css" href="/css/main.css" />
