<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><span class="oi oi-location"></span> Gestión Linea 130</a>
  <!-- <a class="btn btn-secondary float-right" href="/login">Iniciar Sesión</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a href="/ver-ruta-ida" class="nav-link">Ruta de Ida</a></li>
      <li class="nav-item"><a href="/ver-ruta-vuelta" class="nav-link">Ruta de Vuelta</a></li>
      <!-- <li class="nav-item"><a class="nav-link" href="/chat">Sala de Chat</a></li> -->
      <% if(user){ %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Gestionar
        </a>
        <div class="dropdown-menu" aria-labelledby="gestionarDropdown">
          <a class="dropdown-item" href="/user">Usuarios</a>
          <a class="dropdown-item" href="/role">Roles</a>
          <a class="dropdown-item" href="/privilege">Privilegios</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/bus">Buses</a>
          <a class="dropdown-item" href="/chofer">Choferes</a>
          <a class="dropdown-item" href="/propietario">Propietarios</a>
          <a class="dropdown-item" href="/multa">Multas</a>
        </div>
      </li>
      <% } %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="sesionDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sesión
        </a>
        <div class="dropdown-menu" aria-labelledby="sesionDropdown">
          <% if(user) { %>
            <form action="/logout" method="post">
              <input type="submit" class="dropdown-item" value="Cerrar sesión">
            </form>
          <% } else { %>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="/login">Iniciar Sesión</a>
          <a class="dropdown-item" href="/signup">Registrarse</a>
          <% } %>
        </div>
      </li>
    </ul>
  </div>
</nav>