<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><span class="oi oi-location"></span> Gestión Linea 130</a>
  <!-- <a class="btn btn-secondary float-right" href="/login">Iniciar Sesión</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Menú
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/bus">Buses</a>
          <a class="dropdown-item" href="/chofer">Choferes</a>
          <a class="dropdown-item" href="/propietario">Propietarios</a>
          <a class="dropdown-item" href="/multa">Multas</a>
          <a class="dropdown-item" href="/chat">Sala de Chat</a>
          <a class="dropdown-item" href="/shapefile">Ver rutas y paradas</a>
          <a class="dropdown-item" href="/tracking">Seguimiento de Micros</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/login">Iniciar Sesión/Registrarse</a>
        </div>
      </li>
    </ul>
  </div>
</nav>