<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>


    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="card" id="form-card">
                    <div class="card-body">
                        <h5 class="card-title">Lista de Empresas</h5>
                        <hr>
                        <table class="table table-bordered">
                            <tr>
                                <th><b>Logo</b></th>
                                <th><b>Razón Social</b></th>
                                <th><b>Slogan</b></th>
                                <th><b>Dirección</b></th>
                                <th><b>Teléfono</b></th>
                                <th><b>Email</b></th>
                                <th><b>Url</b></th>
                            </tr>
                            <!-- for i = 0 to item count print data rows and actions -->
                            <tr>
                                <td>Los</td>
                                <td>datos</td>
                                <td>van</td>
                                <td>aqui</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Los</td>
                                <td>datos</td>
                                <td>van</td>
                                <td>aqui</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Los</td>
                                <td>datos</td>
                                <td>van</td>
                                <td>aqui</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Los</td>
                                <td>datos</td>
                                <td>van</td>
                                <td>aqui</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Los</td>
                                <td>datos</td>
                                <td>van</td>
                                <td>aqui</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p>Links útiles:</p>
                <ul>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Link2</a></li>
                </ul>
            </div>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>
</body>

</html>