<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
</head>

<body style="background-color: beige">

  <% include ../../partials/nav.ejs %>


  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="card" id="form-card">
          <div class="card-body">
            <h3 class="card-title">Registrar Nuevo Micro</h3>
            <hr>
            <form action="action" method="POST">
              <div id="form" class="form-group">
                <label for="txt-placa-micro">Placa:</label>
                <input class="form-control" type="text" name="txt-placa-micro" id="txt-placa-micro"
                  placeholder="Ej: 1568-GAY">
                <br>
                <label for="txt-cod-chasis-micro">Código de Chasis:</label>
                <input class="form-control" type="text" name="txt-cod-chasis-micro" id="txt-cod-chasis-micro"
                  placeholder="Ej: XXXXXXXXXXXXXXXXXXXXX">
                <br>
                <label for="txt-marca-micro">Marca:</label>
                <input class="form-control" type="text" name="txt-marca-micro" id="txt-marca-micro"
                  placeholder="Ej: Toyota">
                <br>
                <label for="txt-modelo-micro">Modelo:</label>
                <input class="form-control" type="text" name="txt-modelo-micro" id="txt-modelo-micro"
                  placeholder="Ej: Coaster">
                <br>
                <label for="txt-anio-micro">Año de Fabricación:</label>
                <input class="form-control" type="text" name="txt-anio-micro" id="txt-anio-micro"
                  placeholder="Ej: 1995">
                <br>
                <label for="sel-propietario">Propietario:</label>
                <select name="sel-propietario" id="sel-propietario" class="form-control">
                  <option value="1">Propietario1</option>
                  <option value="2">Propietario2</option>
                  <option value="3">Propietario3</option>
                </select>
                <br>
                <label for="sel-propietario">Chofer:</label>
                <select name="sel-propietario" id="sel-propietario" class="form-control">
                  <option value="1">Chofer1</option>
                  <option value="2">Chofer2</option>
                  <option value="3">Chofer3</option>
                </select>
                <hr>
                <input class="btn btn-primary" type="submit" value="Registrar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include ../../partials/footer.ejs %>
</body>

</html>