<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card" id="form-card">
                    <div class="card-body">
                        <h5 class="card-title">Sucursal: NOMBRE</h5>
                        <hr>
                        <table class="table table-bordered">
                            <tr>
                                <td><b>Nombre:</b></td>
                                <td>Telefono de Ejemplo</td>
                            </tr>
                            <tr>
                                <td><b>Dirección:</b></td>
                                <td>Direccion de ejemplo</td>
                            </tr>
                            <tr>
                                <td><b>Teléfono</b></td>
                                <td>70000000</td>
                            </tr>
                        </table>
                        <hr>
                        <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
                <p>Links útiles:</p>
                <ul>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Link2</a></li>
                </ul>
            </div>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>
</body>

</html>