<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
</head>

<body style="background-color: beige">

  <% include ../../partials/nav.ejs %>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="card" id="form-card">
          <div class="card-body">
            <h3 class="card-title">Registrar Nueva Multa</h3>
            <hr>
            <form action="/multa/create" method="POST">
              <div id="form" class="form-group">

                <label for="concepto">Concepto o justificación:</label>
                <input class="form-control" type="text" name="concepto" id="txt-concepto"
                  placeholder="Ej: Falta de asistencia/Abandono de turno" required />
                <br>

                <label for="monto">Monto de la multa:</label>
                <input class="form-control" type="number" name="monto" id="txt-monto" placeholder="Ej: 100.0"
                  required />
                <br>

                <label for="fecha_multa">Fecha de emisión:</label>
                <input class="form-control" type="date" name="fecha_multa" id="txt-fecha_multa" required />
                <br>

                <label for="chofer_id">Chofer:</label>
                <select name="chofer_id" id="sel-chofer_id" class="form-control" required>
                  <option value=""><i>Seleccione una opción</i></option>
                  <!--obtener!-->
                  <!--tomar en cuenta el valor previamente seleccionado-->
                  <% choferes.forEach((chofer) => { %>
                  <option value="<%= chofer.chofer_id %>">
                    <%= `${chofer.nombres} ${chofer.apellidos} (${chofer.ci})` %></option>
                  <% }); %>
                </select>

                <hr>

                <input class="btn btn-primary" type="submit" value="Registrar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include ../../partials/footer.ejs %>
</body>

</html>