<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="container">

        <hr>
        <div class="alert alert-danger text-center" role="alert">
            <p></p> <span class="oi oi-x"></span><br> </p>
            <p style="font-size: x-large"><b>404: No encontrado</b></p>
            <p>Volver a la <a href="/">página principal</a>.</p>
        </div>
        <hr>

    </div> <!-- container -->
    <% include ../partials/footer.ejs %>
</body>

</html>