<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link type="text/css" href="/css/leaflet.css" rel="stylesheet">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center" style="
      background-image: url('/img/website-header-blur-dark.jpg');
      background-repeat: no-repeat;
      background-size: 100%;">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>
      <h1>Gestión de la Linea de Micros 130</h1>
      <!--
      <p>Esta es una aplicación basada en el ejemplo de NodeJS de Heroku.</p>
      <a type="button" class="btn btn-lg btn-primary" href="/login"><span class="oi oi-account-login"></span> Iniciar sesión</a>
      <a type="button" class="btn btn-lg btn-secondary" href="/signup"><span class="oi oi-flash"></span> Crear una cuenta</a>
      -->
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><span class="oi oi-question-mark" style="color: darkgreen"></span>
              Preguntas Frecuentes (F.A.Q.)</h5>
            <hr>
            <% faq.faq.forEach( (tema) => { %>
              <h3><%= tema.q %></h3>
              <p><%= tema.a %></p>
              <hr>
            <% }); %>
            </p>
          </div>
        </div>
      </div>

    </div><!-- row -->

  </div> <!-- container -->
  <% include ../partials/footer.ejs %>
</body>

</html>